@model BudgetToSave.Models.User
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<h2>Welcome</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div>
        Welcome
        <b>@HttpContext.Current.User.Identity.Name</b>
        <br />
        <br />
       
    </div>
</body>
</html>

