
@{
    ViewBag.Title = "BudgetingLimits";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<link href="~/Content/BudgetLimits.css" rel="stylesheet" />

<section style="z-index:99;position:sticky">
    <h2>Your Budget Limits</h2>
    <label>Food:R           </label>
    <input type="text" name="Food" id="Text" />
    <button type="submit">Edit</button><br />
    <label>Clothes:R        </label>
    <input type="text" name="Clothes" id="Text" />
    <button type="submit">Edit</button><br />
    <label>Alcohol:R  </label>
    <input type="text" name="Alcohol" id="Text" />
    <button type="submit">Edit</button><br />
    <label>Other:R      </label>
    <input type="text" name="Other" id="Text" />
    <button type="submit">Edit</button><br />
    <button id="Calculatebtn" type="submit">Calculate</button><br />
    <label>Total Budgeted Amount:R</label>
    <input type="text" name="BudgetedAmount" disabled /><br />
    <button type="submit" onclick="window.location.href = 'MonthlySpending'">Confirm</button>
    <button type="submit" onclick="window.location.href = 'MonthlySpending'">Cancel</button>
</section>


