
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<section style="z-index:99;position:sticky">
<h1>Home Page</h1>
<textarea style="margin-left:220px"
          id="TextArea1" rows="8" cols="100"></textarea>
<h2 style="text-align:center">How it works</h2>
<textarea style="margin-left:220px"
          id="TextArea1" rows="8" cols="100"></textarea>
<h2 style="text-align:center">About Us</h2>
<textarea style="margin-left:220px"
          id="TextArea1" rows="8" cols="100"></textarea>
</section>