USE [master]
GO
/****** Object:  Database [INF272Project]    Script Date: 2019/10/09 22:00:20 ******/
CREATE DATABASE [INF272Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INF272Project', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\INF272Project.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INF272Project_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\INF272Project_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INF272Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INF272Project]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [char](50) NOT NULL,
	[AdminSurname] [char](50) NOT NULL,
	[AdminEmailAddress] [varchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Budget Limit]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budget Limit](
	[LimitID] [int] IDENTITY(1,1) NOT NULL,
	[LimitAmount] [decimal](6, 2) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[LimitTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Budget Limit] PRIMARY KEY CLUSTERED 
(
	[LimitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Budget Limit Type]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Budget Limit Type](
	[LimitTypeID] [int] NOT NULL,
	[Description] [char](50) NOT NULL,
 CONSTRAINT [PK_Budget Limit Type] PRIMARY KEY CLUSTERED 
(
	[LimitTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compound Interest]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compound Interest](
	[CompoundInterestID] [int] IDENTITY(1,1) NOT NULL,
	[Annually] [char](50) NOT NULL,
	[SemiAnnually] [char](50) NOT NULL,
	[Quarterly] [char](50) NOT NULL,
	[Monthly] [char](50) NOT NULL,
 CONSTRAINT [PK_Compound Interest] PRIMARY KEY CLUSTERED 
(
	[CompoundInterestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [char](50) NOT NULL,
	[CustomerSurname] [char](50) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
	[NetWorthID] [int] NOT NULL,
	[IncomeID] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer Networth]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer Networth](
	[NetworthID] [int] IDENTITY(1,1) NOT NULL,
	[NetworthAmount] [decimal](6, 2) NOT NULL,
	[TransID] [int] NOT NULL,
	[IncomeID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
 CONSTRAINT [PK_Customer Networth] PRIMARY KEY CLUSTERED 
(
	[NetworthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Fixed Interest]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fixed Interest](
	[FixedInterestID] [int] IDENTITY(1,1) NOT NULL,
	[Annually] [char](50) NOT NULL,
	[SemiAnnually] [char](50) NOT NULL,
	[Quarterly] [char](50) NOT NULL,
	[Monthly] [char](50) NOT NULL,
 CONSTRAINT [PK_Fixed Interest] PRIMARY KEY CLUSTERED 
(
	[FixedInterestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Income]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[IncomeID] [int] IDENTITY(1,1) NOT NULL,
	[IncomeAmount] [decimal](6, 2) NOT NULL,
	[IncomeTypeID] [int] NOT NULL,
	[IncomeDate] [date] NOT NULL,
 CONSTRAINT [PK_Income] PRIMARY KEY CLUSTERED 
(
	[IncomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Income Type]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Income Type](
	[IncomeTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [char](50) NOT NULL,
 CONSTRAINT [PK_Income Type] PRIMARY KEY CLUSTERED 
(
	[IncomeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Interest Type]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Interest Type](
	[InterestTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[CompoundInterestID] [int] NOT NULL,
	[FixedInterestID] [int] NOT NULL,
 CONSTRAINT [PK_Interest Type] PRIMARY KEY CLUSTERED 
(
	[InterestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Investment Type]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Investment Type](
	[InvestTypeID] [int] NOT NULL,
	[Description] [char](50) NOT NULL,
 CONSTRAINT [PK_Investment Type] PRIMARY KEY CLUSTERED 
(
	[InvestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Investments Made]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investments Made](
	[InvestID] [int] IDENTITY(1,1) NOT NULL,
	[InvestAmount] [int] NOT NULL,
	[InterestRate] [float] NOT NULL,
	[NumOfYears] [float] NOT NULL,
	[InterestTypeID] [int] NOT NULL,
	[InvestTypeID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
 CONSTRAINT [PK_Investments Made] PRIMARY KEY CLUSTERED 
(
	[InvestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Spending Transactions]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spending Transactions](
	[TransID] [int] IDENTITY(1,1) NOT NULL,
	[TransAmount] [int] NOT NULL,
	[TransDate] [date] NOT NULL,
	[CustomerID] [int] NOT NULL,
 CONSTRAINT [PK_Spending Transactions] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[AdminID] [int] NOT NULL,
	[GUID] [int] NOT NULL,
	[GUIDExpirey] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2019/10/09 22:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeID] [int] NOT NULL,
	[Description] [char](50) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Budget Limit]  WITH CHECK ADD  CONSTRAINT [FK_Budget Limit_Budget Limit Type] FOREIGN KEY([LimitTypeID])
REFERENCES [dbo].[Budget Limit Type] ([LimitTypeID])
GO
ALTER TABLE [dbo].[Budget Limit] CHECK CONSTRAINT [FK_Budget Limit_Budget Limit Type]
GO
ALTER TABLE [dbo].[Budget Limit]  WITH CHECK ADD  CONSTRAINT [FK_Budget Limit_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Budget Limit] CHECK CONSTRAINT [FK_Budget Limit_Customer]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Income] FOREIGN KEY([IncomeID])
REFERENCES [dbo].[Income] ([IncomeID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Income]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Customer Networth]  WITH CHECK ADD  CONSTRAINT [FK_Customer Networth_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Customer Networth] CHECK CONSTRAINT [FK_Customer Networth_Customer]
GO
ALTER TABLE [dbo].[Customer Networth]  WITH CHECK ADD  CONSTRAINT [FK_Customer Networth_Income] FOREIGN KEY([IncomeID])
REFERENCES [dbo].[Income] ([IncomeID])
GO
ALTER TABLE [dbo].[Customer Networth] CHECK CONSTRAINT [FK_Customer Networth_Income]
GO
ALTER TABLE [dbo].[Customer Networth]  WITH CHECK ADD  CONSTRAINT [FK_Customer Networth_Spending Transactions] FOREIGN KEY([TransID])
REFERENCES [dbo].[Spending Transactions] ([TransID])
GO
ALTER TABLE [dbo].[Customer Networth] CHECK CONSTRAINT [FK_Customer Networth_Spending Transactions]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_Income_Income Type] FOREIGN KEY([IncomeTypeID])
REFERENCES [dbo].[Income Type] ([IncomeTypeID])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_Income_Income Type]
GO
ALTER TABLE [dbo].[Interest Type]  WITH CHECK ADD  CONSTRAINT [FK_Interest Type_Compound Interest] FOREIGN KEY([CompoundInterestID])
REFERENCES [dbo].[Compound Interest] ([CompoundInterestID])
GO
ALTER TABLE [dbo].[Interest Type] CHECK CONSTRAINT [FK_Interest Type_Compound Interest]
GO
ALTER TABLE [dbo].[Interest Type]  WITH CHECK ADD  CONSTRAINT [FK_Interest Type_Fixed Interest] FOREIGN KEY([FixedInterestID])
REFERENCES [dbo].[Fixed Interest] ([FixedInterestID])
GO
ALTER TABLE [dbo].[Interest Type] CHECK CONSTRAINT [FK_Interest Type_Fixed Interest]
GO
ALTER TABLE [dbo].[Investments Made]  WITH CHECK ADD  CONSTRAINT [FK_Investments Made_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Investments Made] CHECK CONSTRAINT [FK_Investments Made_Customer]
GO
ALTER TABLE [dbo].[Investments Made]  WITH CHECK ADD  CONSTRAINT [FK_Investments Made_Interest Type] FOREIGN KEY([InterestTypeID])
REFERENCES [dbo].[Interest Type] ([InterestTypeID])
GO
ALTER TABLE [dbo].[Investments Made] CHECK CONSTRAINT [FK_Investments Made_Interest Type]
GO
ALTER TABLE [dbo].[Investments Made]  WITH CHECK ADD  CONSTRAINT [FK_Investments Made_Investment Type] FOREIGN KEY([InvestTypeID])
REFERENCES [dbo].[Investment Type] ([InvestTypeID])
GO
ALTER TABLE [dbo].[Investments Made] CHECK CONSTRAINT [FK_Investments Made_Investment Type]
GO
ALTER TABLE [dbo].[Spending Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Spending Transactions_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Spending Transactions] CHECK CONSTRAINT [FK_Spending Transactions_Customer]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Admin]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
USE [master]
GO
