
@{
    ViewBag.Title = "ReportNetworth";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<link href="~/Content/report.css" rel="stylesheet" />
<section style="z-index:99;position:sticky">

<div class="report">
    <h2 style="text-align:center">Your Net Worth Report</h2>
    <label>Your Net Worth last month was:</label>
    <input type="text" disabled class="text-line" /><br />
    <label>You have <mark class="green">Saved</mark>/<mark class="red">Overspent</mark>: </label>
    <input type="text" disabled class="text-line" /><br />
    <label>You earned:R</label>
    <input type="text" disabled class="text-line" /><br />
    <label>You owe the tax man:R</label>
    <input type="text" disabled class="text-line" /><br />
    <label>Your Total Expense for the month including Tax is:R</label>
    <input type="text" disabled class="text-line" /><br />
    <label>You have <mark class="green">Earned</mark>/<mark class="red">Overspent</mark>:R </label>
    <input type="text" disabled class="text-line" /><br />
    <label>Your new Net Worth is:R</label>
    <input type="text" disabled class="text-line" /><br />
    <button type="submit">Print ⎙</button>

</div>
</section>