
@{
    ViewBag.Title = "ReportSavings";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<link href="~/Content/report.css" rel="stylesheet" />
<section style="z-index:99;position:sticky">

<div class="report">
    <h3 style="text-align:center">Your Savings Report</h3>
    <label>You have <mark class="green">Saved</mark>/<mark class="red">Overspent</mark>:R </label>
    <input type="text" disabled class="text-line" /><br />
    <h4>A green textbox means you <mark class="green">Saved</mark> this month and a red textbox means you <mark class="red">Overspent</mark></h4>
    <label>Food:</label>
    <input type="text" disabled class="text-line" /><br />
    <label>Clothes:</label>
    <input type="text" disabled class="text-line" /><br />
    <label>Alcohol:</label>
    <input type="text" disabled class="text-line" /><br />
    <label>Other:</label>
    <input type="text" disabled class="text-line" /><br />
    <button type="submit">Print ⎙</button>
</div>
</section>