
@{
    ViewBag.Title = "SpendingTransaction";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<link href="~/Content/BudgetLimits.css" rel="stylesheet" />
<section style="z-index:99;position:sticky">
    <h2>Spending Transactions</h2>
    <div>
        <label>Type:</label>
        <select id="Select1">
            <option>Food</option>
            <option>Clothes</option>
            <option>Alcohol</option>
            <option>Other</option>
        </select>
        <br />
        <label>Amount(R):</label>
        <input id="Text1" type="text" />
        <br />
        <label>Date:</label>
        <input type="datetime-local" name="datetime1">
        <br />
        <input id="Button1" type="button" value="Submit" onclick="window.location.href = 'MonthlySpending'" />
    </div>
</section>
