
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

    <link href="~/Content/ProperHomePage.css" rel="stylesheet" />
<h1>Home Page</h1>
<section style="z-index:99;position:sticky">
    <div>
        <div class="TextDiv">
            <img src="C:\Users\User\Documents\GitHub\INF272-Project" alt="Budget to Save Logo">

        </div>
        <h1 class="Headingtext">How it Works</h1>
        <div class="TextDiv">
            A user will login/register as a new customer. A user will be able to budget for the month as well as calculate investments using our investment calculator. Users will be able to input their monthly earnings and compare their earnings to their expenditure to see whether they are overspending or saving money every month.

        </div>
        <h1 class="Headingtext">About Us</h1>
        <div class="TextDiv">

            We are a company looking to save your money by helping you budget as well as calculate investment options.Our website allows you to input your budgetted amounts and track your progress through the month.
            You input your budget amounts and spending amounts to view your progress.
        </div>



    </div>
</section>
