
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}

<link href="~/Content/BudgetLimits.css" rel="stylesheet" />
<section style="z-index:99;position:sticky">
    <h2>Login</h2>
    <div>
        <label>Username:</label>
        <input id="Text1" type="text" /><br />
        <label>Password:</label>
        <input id="Text1" type="text" />
    </div>
    <div>
        <input id="Button1" type="button" value="Login" onclick="window.location.href = 'Home'"/>
        <input id="Button1" type="button" value="Cancel" onclick="window.location.href = 'Home'" />
        <input id="Button1" type="button" value="Forgot Password" onclick="window.location.href = 'ForgotPassword'"/>
    </div>
</section>


