
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/StandardLayout.cshtml";
}
<link href="~/Content/BudgetLimits.css" rel="stylesheet" />
<h2>Update User</h2>
<section style="z-index:99;position:sticky">
    <div class="Register">
        <label>Name:           </label>
        <input type="text" name="Fname" id="Text" /><br />
        <label>Surname:        </label>
        <input type="text" name="Lname" id="Text" /><br />
        <label>Email Address:  </label>
        <input type="text" name="Email" id="Text" /><br />
        <label>ID Number:      </label>
        <input type="text" name="Id_Num" id="Text" /><br />
        <label>Username:       </label>
        <input type="text" name="Username" id="Text" /><br />
        <label>Password:       </label>
        <input type="text" name="Password" id="Text" /><br />

        <button type="submit" onclick="window.location.href = 'Home'">Update</button>
        <button type="button" onclick="window.location.href = 'Home'">Cancel</button>
    </div>
</section>
<style>
    input#Text {
        margin-left: auto;
        margin-right: auto;
    }
</style>
